PGHOST={{ event_worker_pg_host }}
PGPORT={{ event_worker_pg_port }}
PGDATABASE={{ event_worker_pg_database }}
PGUSER={{ event_worker_pg_user }}
PGPASSWORD={{ event_worker_pg_password }}
PGSSLMODE=disable
NATS_URL={{ event_worker_nats_url }}
